*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f4f0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  color: #e1624f;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
}

.center-content {
  display: flex;
  flex-direction: column;
  margin: 4rem 10rem;
  align-items: center;
  justify-content: center;
}

.city {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 0;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}

.city figure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.city figure img {
  border-radius: 28px;
  width: 100%;
}

.city figure figcaption {
  display: flex;
  text-align: center;
  padding: 0 0 0 1rem;
  width: 97%;
  color: #333333;
}

.turism-places {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  border-bottom: 1px solid #d9d9d9;
}

.header,
.places,
.place {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.place {
  margin-bottom: 2rem;
}

.places img {
  margin-bottom: 1rem;
  width: 100%;
}

.place ul {
  margin-top: 2rem;
}

.place ul span {
  font-weight: bold;
}

.place ul li {
  margin-left: 1rem;
}

.history {
  font-size: 16px;
  font-weight: 400;
  color: #0c51a7;
}

.family {
  font-size: 16px;
  font-weight: 400;
  color: #e5245e;
}

.budget {
  font-size: 16px;
  font-weight: 400;
  color: #e95e10;
}

.couple {
  font-size: 16px;
  font-weight: 400;
  color: #591b98;
}

.last-info {
  display: flex;
  text-align: center;
  padding: 3rem 0;
}

@media (max-width: 480px) {
  .city {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 90vw;
    align-items: center;
    text-align: left;
  }

  .city figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .city figure img {
    border-radius: 28px;
  }

  .city figure figcaption {
    display: flex;
    text-align: center;
    padding: 0 0 0 1rem;
    width: 100%;
    color: #333333;
  }

  .turism-places {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 90vw;
  }

  .header,
  .places,
  .place {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .last-info {
    display: flex;
    text-align: center;
    padding: 3rem 0;
    width: 90vw;
    text-align: justify;
  }
}

@media (max-width: 968px) {
  .city {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 90vw;
    align-items: center;
    text-align: left;
  }

  .city figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .city figure img {
    border-radius: 28px;
  }

  .city figure figcaption {
    display: flex;
    text-align: center;
    padding: 0 0 0 1rem;
    width: 100%;
    color: #333333;
  }
  .city {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 90vw;
    align-items: center;
    text-align: left;
  }

  .city figure {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .city figure img {
    border-radius: 28px;
  }

  .city figure figcaption {
    display: flex;
    text-align: center;
    padding: 0 0 0 1rem;
    width: 100%;
    color: #333333;
  }

  .turism-places {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d9d9d9;
    width: 90vw;
  }

  .header,
  .places,
  .place {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .last-info {
    display: flex;
    text-align: center;
    padding: 3rem 0;
    width: 90vw;
    text-align: justify;
  }
}
